enter your numbers
<form method = "post" action = "/calc"> <!-- opens form-->
  <input type = "number" min = "1" max = "100"  name = "num1">    <!-- prompts for input of a number, limits it to 100, and assigns a variable  -->
  <input type = "number" min = "1" max = "100" name = "num2">
  <br>
  <input type = "radio" name = "cal" value = "add"> Add<br>         <!-- creates selection bubbles and assigns a variable that can be used in a function-->
  <br>
  <input type = "radio" name = "cal" value = "subt" > Subtract<br>
  <br>
  <input type = "radio" name = "cal" value = "div" > Divide<br>
  <br>
  <input type = "radio" name = "cal" value = "mult" > Multiply<br>
  <input type = "submit"> <!-- creates submit button-->
</form> <!-- closes formm-->
