enter your numbers
<form method = "post" action = "/calc">
  <input type = "number" min = "1" max = "100"  name = "num1">
  <input type = "number" min = "1" max = "100" name = "num2">
  <br>
  <input type = "radio" name = "cal" value = "add"> Add<br>
  <br>
  <input type = "radio" name = "cal" value = "subt" > Subtract<br>
  <br>
  <input type = "radio" name = "cal" value = "div" > Divide<br>
  <br>
  <input type = "radio" name = "cal" value = "mult" > Multiply<br>
  <input type = "submit">
</form>
